@font-face {
	font-family: "Comfortaa";
	src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
		   url("/fonts/OpenSans-Regular-webfont.woff") format("woff"),
		   url("Comfortaa-Regular.ttf") format("truetype");
}
body{
	font-family:Comfortaa;
}


.block-custom{
	max-width: 500px;
	box-shadow: 5px 5px 5px grey;
}

.img-profile{
	width: 150px;
	height: 150px;
}