@font-face {
	font-family: "Sarala";
	src: url("../font/Sarala-Regular.woff2") format("woff2"),
		url("../font/Sarala-Regular.woff") format("woff");
}
html, body, .baseDiv, .log_in{height: 100%;}
body{font-family:Sarala;}

.img-profile{
	width: 150px;
	height: 150px;
}
/*--Page d'accueil--*/
.card-link-custom, .card-link-custom:link{
	color: black;
	text-decoration: none;
}

.card-deck .card, .card-deck img{
	height:200px;
}
.card-deck:hover > *{
	color:black;
}

/*--Page d'article--*/
.card-img{
	opacity: 0.6;
	height: 170px;
}

.input-commentaire{
	max-width: 520px;
}

/*--Page de connexion et inscription--*/
.log_in{
	display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.block-custom{
	max-width:500px;
	width:95%;
}