@font-face {
	font-family: "Sarala";
	src: url("../font/Sarala-Regular.woff2") format("woff2"),
		url("../font/Sarala-Regular.woff") format("woff");
}

@media(max-width:776px){
	h1{font-size: 26px;}
	h2{font-size: 24px;}
	h3{font-size: 21px;}
	h5{font-size: 18px;}
	p,a{font-size: 14px;}
}

body{font-family:Sarala;}

body::-webkit-scrollbar{width: 15px;}

body::-webkit-scrollbar-track{
	background-color: grey;
}
body::-webkit-scrollbar-thumb{
	border-radius: 1em;
	background-color: black;
}

.footer p{font-size:12px;}

/*--Tamplate--*/
nav.homeNavBar{
	z-index:11;
}
/*--Recherche instantané---*/
.form-search{position: relative;}
.suggestion{
	position:absolute;
	display:none;
	top:40px;
}
.suggestion a{
	color:black;
	text-decoration: none;
}

/*--Page d'accueil--*/
.carousel img{
	height: 500px;
	filter: brightness(0.6);
}
@media(max-width:776px){
	.carousel img{
		height: 250px;
	}
}

.list-article .card{max-width:540px;}
@media(min-width:776px){
	.list-article .card, .list-article img{
		height: 220px;
	}
}
.list-article a{
	text-decoration: none;
	color: black;
}

/*--Page d'article--*/
@media(max-width:776px){
	.card h1{
		font-size: 21px;
	}
}
.img-article{
	filter: brightness(0.6);
	height: 180px;
}

.img-profile-redacteur{
	width: 30px;
	height: 30px;
}

.input-commentaire{
	max-width: 520px;
}
.commentaireList img{
	width: 50px;
	height: 50px;
}
/*--Page de connexion et inscription--*/
.log_in{
	display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:center;
}
.block-custom{
	max-width:500px;
	width:95%;
	margin-bottom: 8px;
}

/*--Image profile--*/
.img-profile{
	width: 150px;
	height: 150px;
}
@media(max-width:776px){
	.img-profile{
		width: 110px;
		height: 110px;
	}
}
.img-mini{
	width: 80px;
	height: 80px;
}
img{object-fit: cover;}