{% extends "base.html.twig" %}
{% block title %}Connexion{{parent()}}{% endblock %}

{% block content %}
	<h1 class="text-center m-4">Connexion</h1>

	{% if form.error is defined %}
		<div class="alert alert-danger block-custom mx-auto" role="alert">Les identifients sont incorrects</div>
	{% endif %}

	<form method="POST" action="index.php?page=connexion" class="bg-primary text-light p-4 mx-auto rounded block-custom">
		<div class="form-group">
			<label for="email">Adresse email</label>
			<input type="text" class="form-control" id="email" name="email" required />
		</div>
		<div class="form-group">
			<label for="password">Mot de passe</label>
			<input type="password" class="form-control" id="password" name="password" required/>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="resteConnecte" id="resteConnecte" >
			<label class="form-check-label" for="resteConnecte">Conserver la connexion</label>
		</div>
		<button type="submit" name="btConnecter" class="btn btn-light mt-3">Se connecter</button>
	</form>

	<p class="text-center m-4">Tu n'as pas de compte ? pas de problème <a href="?page=inscription">inscrit-toi maintenant !</a></p>
{% endblock %}