{% extends "base.html.twig" %}
{% block title %}Mot de passe oublié{{parent()}}{% endblock %}

{% block head %}
<style>
html, body, .baseDiv, .log_in{height: 100%;}
</style>
{% endblock %}

{% block content %}
<div class="log_in bg-light">
<h1>Mot de passe oublié</h1>

{% if form.message is defined %}
	{% if get.code <= 0 %}
		<div class="alert alert-success block-custom" role="alert">{{form.message}}</div>
	{% else %}
		<div class="alert alert-danger block-custom" role="alert">{{form.message}}</div>
	{% endif %}
{% endif %}

<form method="POST" action="?page=forgotPassword" class="p-4 bg-white border border-dark rounded block-custom jsAnimateLoadForm">
	<p>Veuillez saisir l'adresse email associé à votre compte</p>
	<div class="form-group">
		<label for="email">Adresse email</label>
		<input type="text" class="form-control" id="email" name="email" required />
	</div>
	<button type="submit" name="btValider" class="btn btn-primary">Valider</button>
</form>

<a class="m-3" href="?page=connexion">Retour à la page de connexion</a> 
</div>


<!-- SCRIPT -->
<script src="js/loadingButton.js"></script>
{% endblock %}