{% extends "base.html.twig" %}
{% block title %}Inscritption{{parent()}} {% endblock %}

{% block content %}
	<h1 class="text-center m-3">Inscription</h1>


	<form method="POST" action="index.php?page=inscription" class="container bg-primary text-light p-4 rounded">
		{% if form.message is defined %}
			<div class="alert alert-danger" role="alert">{{form.message}}</div>
		{% endif %}
		<div class="form-group">
			<label for="email">Adresse email</label>
			<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required />
		</div>
		<div class="form-group">
			<label for="nom">Nom</label>
			<input type="text" class="form-control" id="nom" name="nom" maxlength="50" aria-describedby="emailHelp" required/>
		</div>
		<div class="form-group">
			<label for="password">Mot de passe</label>
			<input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" required/>
			<input type="password" class="form-control" id="password2" name="password2" aria-describedby="emailHelp" required/>
		</div>
		<div class="form-group">
			<label for="image">Photo de profil</label>
			<input type="file" class="form-control" id="image" name="image"/>
		</div>

		<button type="submit" name="btInscrire" class="btn btn-light">Valider</button>
	</form>
{% endblock %}