{% extends "base.html.twig" %}
{% block title %}Inscritption{{parent()}}{% endblock %}

{% block head %}
<style>
html, body, .baseDiv, .log_in{height: 100%;}
</style>
{% endblock %}

{% block content %}
<div class="log_in bg-light">
	{% if get.code == 5 %}
	<div>
		<h1 class="mb-4">C'est presque fini !</h1>
		<h3 class="mb-4">Il ne vous reste juste à valider le mail de confirmation qui vous à était envoyé</h3>
		<a class="btn btn-success btn-lg" href="./">Accueil du site</a>
	</div>
	{% else %}
	<h1 class="text-center m-4">Inscription</h1>
	{% if form.message is defined %}
		<div class="alert alert-danger block-custom" role="alert">{{form.message}}</div>
	{% endif %}
	<form method="POST" action="index.php?page=inscription" class="p-4 bg-white border border-dark rounded block-custom jsAnimateLoadForm">
		<div class="form-group">
			<label for="email">Adresse email *</label>
			<input type="email" class="form-control" id="email" name="email" required />
		</div>
		<div class="form-group">
			<label for="nom">Nom *</label>
			<input type="text" class="form-control" id="nom" name="nom" maxlength="50"  required/>
		</div>
		<div class="form-group">
			<label for="password">Mot de passe *</label>
			<input type="password" class="form-control" id="password" name="password" required/>
			<input type="password" class="form-control" id="password2" name="password2" required/>
		</div>
		<button type="submit" name="btInscrire" class="btn btn-primary">S'inscrire</button>
	</form>

	<p class="m-3">Tu as déjà un compte ? <a href="?page=connexion">connecte toi ici !</a></p>
	<a href="./">Retour à l'accueil du site</a> 
	{% endif %}
</div>

<!-- SCRIPT -->
<script src="js/loadingButton.js"></script>
{% endblock %}