<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Maintenance - alLavi news</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png" />
</head>
<body class="bg-light">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="./"><b>alLavi news</b></a>
</nav>
<div class="m-5 text-center">
	<h1>Maintenance</h1>
	<p>Toutes nos excuses mais les serveurs sont actuellement en cours de maintenance, alLavi news reviendra sous peu...</p>

	<div class="row justify-content-center">
		<div class="spinner-grow align-self-center" role="status"><span class="sr-only">Loading...</span></div>
		<p class="align-self-center mb-0 ml-1">Veuillez patienter...</p>
	</div>
</div>
<div class="container-fluid bg-dark overflow-hidden p-2 footer">
	<div class="container">
	<p class="text-light m-0">alLavi news 2020</p>
	</div>
</div>
</body>
</html>