{% extends "base.html.twig" %}
{% block title %}{{ user.nom }}{{parent()}}{% endblock %}

{% block content %}

<div class="container bg-secondary text-light">
	<div class="row underline-light border-bottom border-light p-2">
		<div class="col-lg-2 align-self-center">
			<img src="images/img.jpg" alt="..." class="img-thumbnail img-profile">
		</div>
		<div class="col-lg-3 align-self-center">
			<h2>{{user.nom}}</h2>
		</div>
		<div class="col-sm-7 align-self-center">
			<p>Utilisateur alLavi news</p>
			<p>Nombre d'article : 4</p>
			<p>Inscrit depuis le 22 juillet 2016</p>
		</div>
	</div>
	<div class="btn-group-fluid">
			<a href="" class="btn btn-secondary">Modifier profil</a>
			<a href="" class="btn btn-secondary">Modifier mot de passe</a>
			<a href="" class="btn btn-secondary">Gestion des utilisateurs</a>
			<a href="" class="btn btn-secondary">Gestion des articles</a>
			<a href="" class="btn btn-secondary">Gestion des type</a>
			<a href="?page=deconnexion" class="btn btn-danger">Déconnexion</a>
	</div>
</div>


{% endblock %}