{% extends "base.html.twig" %}
{% block title %}Mettre à jour le profile{{parent()}}{% endblock %}

{% block content %}
	<h1 class="text-center m-4">Modifier mot de passe</h1>

	{% if form.message is defined %}
		<div class="alert alert-danger mx-auto block-custom" style="float:center" role="alert">{{form.message}}</div>
	{% endif %}
	<form method="POST" action="index.php?page=updatePassword" class="bg-primary text-light p-4 mx-auto rounded block-custom">
		<div class="form-group">
			<label for="passwoldPasswordord">Mot de passe actuel</label>
			<input type="password" class="form-control" id="oldPassword" name="oldPassword" required/>
		</div>
		<div class="form-group">
			<label for="password">Mot de passe</label>
			<input type="password" class="form-control" id="password" name="password" required/>
		</div>
		<div class="form-group">
			<label for="password">Confirmer mot de passe</label>
			<input type="password" class="form-control" id="password2" name="password2" required/>
		</div>
		<button type="submit" name="btValider" class="btn btn-light">Valider</button>
	</form>
{% endblock %}